header{
    background-color: #F5CCEB;
    padding: 1px 0;
}
.caja{
    width: 100%;
    margin: 0 auto;
    display: inline;
}
nav{
    position: absolute;
    top: 115px;
    right: 10%;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform:uppercase;
    color: black;
    font-weight:bolder;
    font-size: 1.5em;
    text-decoration: none;
}
nav a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.logo{
    width: 250px;
    display: inline-block;
}

.logofo{

    width: auto;
}

.indice{
    width: 90%;
}

.index{
    font-size: 1.2em;
}


/*Aqui iniciea el CSS para nuestro HOME*/

.principal{
    padding: 3em 0;
    background: #FFFFFF;
    width: 90%;
    margin:0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-family: 'Charmonman', cursive;    
}
.principal p{
    margin:0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#F5CCEB)
}
.mapa p{
    margin:0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 80%;
    margin: 0 auto;
    box-shadow: 10px 10px 20px 10px #000000;
}

.diferenciales{
    padding: 3em 0;
    background: #F5CCEB;
    text-align: center;
}

.contenido-diferenciales{
    width: 100%;
    margin: 0 auto;
}
.lista-diferenciales{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    
}
.items{
    line-height: 1.5;
}
.items::before{
    content:" ";
}

.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 30%;
    box-shadow: 10px 10px 30px 15px #000000;
}

.imagen-diferenciales:hover{
    opacity: 30%;
    transition: 800ms;
}

.video{
    width: 70%;
    margin: 4em auto;
    box-shadow: 10px 10px 30px 15px #000000;
}
footer{
    text-align: center;
    background: url(Imagenes/Footer.png);
    padding: 5px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px;
}

/*Banners*/

.banner{
    width: 90%;
    height:400px;
    border: #444;
    box-shadow: 10px 10px 80px 15px #494949 ;
    margin: 20px auto;

    background-size: 100% 100%;

    animation: banner 10s infinite;
    animation-direction: alternate;

}

@keyframes banner {
    0%, 30%{
        background-image: url(Imagenes/Banner.jpeg);
        opacity: 1;
    }
    31%, 34%{
        opacity: 2;
    }
    35%, 65%{
        background-image: url(Imagenes/banner\ 2.png);
        opacity: 1;
    }
    66%, 69%{
        opacity: 2;
    }
    70%, 100%{
        opacity: 1;
        background-image:url(Imagenes/Banner\ 3.png);
    }
                    
}

/*Catalogo*/

.productos{
    width: 90%;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #F5CCEB;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#c78c19;
}

.productos li:active{
    border-color:#ff0000; 
}

.productos h2{
    font-size: auto;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}
.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width:2000px){
    .video{
        width: 30%;
        margin: 4em auto;
        box-shadow: 10px 10px 30px 15px #000000;
    }  
}

@media (max-width:800px){
    .video{
        width: 70%;
        margin: 4em auto;
        box-shadow: 10px 10px 30px 15px #000000;
    }  
}

@media (max-width:1000){
    .video{
        width: 80%;
        margin: 4em auto;
        box-shadow: 10px 10px 30px 15px #000000;
    }  
}

@media (max-width:400px){
    .logofo{
        width: 10px;
    }    
}
@media (max-width:800px){
    .logofo{
        width: 200px;
    }    
}

@media (max-width:400px){
    .banner{
        width: 90%;
        height:200px;
        border: #444;
        box-shadow: 10px 10px 80px 15px #494949 ;
        margin: 20px auto;
    
        background-size: 100% 100%;
    
        animation: banner 10s infinite;
        animation-direction: alternate;
    
    }
}

@media (min-width:800px){
    .banner{
        width: 90%;
        height:700px;
        border: #444;
        box-shadow: 10px 10px 80px 15px #494949 ;
        margin: 20px auto;
    
        background-size: 100% 100%;
    
        animation: banner 10s infinite;
        animation-direction: alternate;
    
    }
}

.Fecha{
    color: white;
text-align: right;
}


/*Contacto*/

form{
    margin:40px 0;
}

form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    
}

.input-padron{
    display: block;
    margin:0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: rgb(255, 0, 255);
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: rgb(255, 0, 64);
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background:#555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid black;
    padding: 8px 15px;
}

select{
    padding: 8px 8px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}